html,
body {
  height: 100%; /* Make the page fill the whole screen */
  margin: 0; /* Remove default margins */
  padding: 0;
  display: flex; /* Use Flexbox layout */
  flex-direction: column; /* Stack header, main, footer vertically */
  background-color: #131313;
}

header {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  background-color: #131313;
}
main {
  flex: 1; /* Fills remaining space between header and footer */
  margin-left: 200px;
  margin-right: 200px;
  background-color: #131313;
  border: #333 solid;
}

footer {
  margin-left: 200px;
  margin-right: 200px;
  background-color: #131313;
  color: white;
  text-align: center;
  padding: 10px;
}

h2,
p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5604eebb;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #2e0099;
}

.search {
  --padding: 1px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  width: 285px;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 5px;
  background: #252525;
}

.search-input {
  font-size: 11px;
  font-family: "Lexend", sans-serif;
  color: #ffffff;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background-color: transparent;
  flex: 1;
}

.search-input::placeholder,
.search-icon {
  color: #666;
}

.title {
  font-family: Verdana, Arial;
  color: #ffffff;
}

.card-size {
  width: 200px;
  border-radius: 0 0 5px 5px;
  border: #252525 solid;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  border-radius: 0 5px 5px 5px;
  margin-left: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  border-radius: 5px 5px 0 0;
  border: #252525 solid;
  padding: 2px 16px;
  background-color: #131313;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  width: 168px;
}

.image {
  width: 500px;
  margin-left: 350px;
}

.img {
  width: 150px;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 0;
}
