<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Anitopia</title>

    <link rel="manifest" href="manifest.json" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search"
    />

    <link rel="icon" type="image/x-icon" href="images\favicon.png" />

    <meta name="theme-color" content="#14E6DD" />
  </head>
  <body>
    <header>
      <img class="img" src="..\static\images\logo.png" alt="Ivan's Logo" />
      <ul>
        <li>
          <a href="layout.html">Anime</a>
        </li>
        <li>
          <a href="page2.html">Manga</a>
        </li>
        <li>
          <a href="page3.html">Lists</a>
        </li>
        <li>
          <a href="page4.html">About</a>
        </li>
        <form>
          <div class="search">
            <input
              class="search-input"
              type="search"
              placeholder="Search Anime, Manga, and more"
            />
            <span class="search-icon material-symbols-outlined">search</span>
          </div>
        </form>
      </ul>
      <h1 class="h1">Welcome to Anitopia!</h1>
    </header>
    <main class="mal-layout">
      <!-- LEFT SIDEBAR -->
      <aside class="mal-sidebar">
        <img
          src="../static/images/Onepiece.jpg"
          alt="One Piece Poster"
          class="mal-poster"
        />

        <div class="mal-info">
          <p><strong>Type:</strong> TV</p>
          <p><strong>Episodes:</strong> Ongoing</p>
          <p><strong>Status:</strong> Airing</p>
          <p><strong>Studio:</strong> Toei Animation</p>
          <p><strong>Genres:</strong> Action, Adventure, Fantasy</p>
          <p><strong>Demographic:</strong> Shounen</p>
          <p><strong>Rating:</strong> PG-13</p>
          <p><strong>Streaming Platforms:</strong> Crunchyroll, Netflix</p>
        </div>
      </aside>

      <!-- MAIN CONTENT -->
      <section class="mal-content">
        <h1>One Piece</h1>

        <h3>Synopsis</h3>
        <p>
          Barely surviving in a barrel after passing through a terrible
          whirlpool at sea, carefree Monkey D. Luffy ends up aboard a ship under
          attack by fearsome pirates. Despite being a naive-looking teenager, he
          is not to be underestimated. Unmatched in battle, Luffy is a pirate
          himself who resolutely pursues the coveted One Piece treasure and the
          King of the Pirates title that comes with it. The late King of the
          Pirates, Gol D. Roger, stirred up the world before his death by
          disclosing the whereabouts of his hoard of riches and daring everyone
          to obtain it. Ever since then, countless powerful pirates have sailed
          dangerous seas for the prized One Piece only to never return. Although
          Luffy lacks a crew and a proper ship, he is endowed with a superhuman
          ability and an unbreakable spirit that make him not only a formidable
          adversary but also an inspiration to many. As he faces numerous
          challenges with a big smile on his face, Luffy gathers one-of-a-kind
          companions to join him in his ambitious endeavor, together embracing
          perils and wonders on their once-in-a-lifetime adventure.
        </p>
      </section>
    </main>

    <footer>
      <p>© 2026 Anitopia | All Rights Reserved</p>
      <p><a href="Ivan.Nguyen2@education.nsw.gov,au">Contact Us</a></p>
    </footer>
    <script src="static/js/app.js"></script>
  </body>
</html>
