<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <link rel="stylesheet" href="main.css" />
    <title>Anitopia</title>

    <link rel="manifest" href="manifest.json" />

    <link rel="icon" type="image/x-icon" href="images\favicon.png" />

    <meta name="theme-color" content="#14E6DD" />
  </head>
  <body style="background-color: #333">
    <header>
      <h1 style="color: white">Anitopia</h1>
      <ul>
        <li>
          <a href="layout.html">Home</a>
        </li>
        <li>
          <a href="page2.html">Page 2</a>
        </li>
        <li>
          <a href="page3.html">Page 3</a>
        </li>
        <li>
          <a href="page4.html">About</a>
        </li>
      </ul>
    </header>
    <main></main>
    <footer>
      <p>© 2025 Anitopia | All Rights Reserved</p>
      <p><a href="Ivan.Nguyen2@education.nsw.gov,au">Contact Us</a></p>
    </footer>
    <script type="module" src="js/app.js"></script>
  </body>
</html>
