<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Anitopia</title>

    <link rel="manifest" href="manifest.json" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search"
    />

    <link rel="icon" type="image/x-icon" href="images\favicon.png" />

    <meta name="theme-color" content="#14E6DD" />
  </head>
  <body>
    <header>
      <img class="img" src="..\static\images\logo.png" alt="Ivan's Logo" />
      <ul>
        <li>
          <a href="layout.html">Anime</a>
        </li>
        <li>
          <a href="page2.html">Manga</a>
        </li>
        <li>
          <a href="page3.html">Lists</a>
        </li>
        <li>
          <a href="page4.html">About</a>
        </li>
        <form>
          <div class="search">
            <input
              class="search-input"
              type="search"
              placeholder="Search Anime, Manga, and more"
            />
            <span class="search-icon material-symbols-outlined">search</span>
          </div>
        </form>
      </ul>
      <h1 class="h1">Welcome to Anitopia!</h1>
    </header>
    <main>
      <div class="title" style="margin-left: 12px">
        <h3>About Anitopia</h3>
        <p>
          Anitopia is a place to explore the various different Animes and manga
        </p>
        <h4 style="margin-top: 30px">Creator of Anitopia</h4>
        <p>
          Greetings i am the creator of Anitopia, i've built this platform for
          the sole purpose of allowing others to search and explores the wonders
          of anime and manga
        </p>
        <h3 style="margin-top: 30px">What Anitopia Contains</h3>
        <p style="display: list-item">Anime</p>
        <p style="display: list-item">Manga</p>
        <p style="display: list-item">Watchlists and ReadingLists</p>
      </div>
    </main>
    <footer>
      <p>© 2026 Anitopia | All Rights Reserved</p>
      <p><a href="Ivan.Nguyen2@education.nsw.gov,au">Contact Us</a></p>
    </footer>
    <script src="static/js/app.js"></script>
  </body>
</html>
